In [1]:
import pandas as pd

In [6]:
data=pd.read_csv(r"C:\Users\BVAYA\Desktop\energy-theft-prediction\data\raw\household_power_consumption.csv",sep=';')

C:\Users\BVAYA\AppData\Local\Temp\ipykernel_6220\339441229.py:1: DtypeWarning: Columns (2,3,4,5,6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  data=pd.read_csv(r"C:\Users\BVAYA\Desktop\energy-theft-prediction\data\raw\household_power_consumption.csv",sep=';')

In [7]:
data.head()

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,16/12/2006,17:24:00,4.216,0.418,234.840,18.400,0.000,1.000,17.0
1,16/12/2006,17:25:00,5.360,0.436,233.630,23.000,0.000,1.000,16.0
2,16/12/2006,17:26:00,5.374,0.498,233.290,23.000,0.000,2.000,17.0
3,16/12/2006,17:27:00,5.388,0.502,233.740,23.000,0.000,1.000,17.0
4,16/12/2006,17:28:00,3.666,0.528,235.680,15.800,0.000,1.000,17.0

In [8]:
data.info

<bound method DataFrame.info of                Date      Time Global_active_power Global_reactive_power  \
0        16/12/2006  17:24:00               4.216                 0.418
1        16/12/2006  17:25:00               5.360                 0.436
2        16/12/2006  17:26:00               5.374                 0.498
3        16/12/2006  17:27:00               5.388                 0.502
4        16/12/2006  17:28:00               3.666                 0.528
...             ...       ...                 ...                   ...
2075254  26/11/2010  20:58:00               0.946                   0.0
2075255  26/11/2010  20:59:00               0.944                   0.0
2075256  26/11/2010  21:00:00               0.938                   0.0
2075257  26/11/2010  21:01:00               0.934                   0.0
2075258  26/11/2010  21:02:00               0.932                   0.0

         Voltage Global_intensity Sub_metering_1 Sub_metering_2  \
0        234.840           18.400          0.000          1.000
1        233.630           23.000          0.000          1.000
2        233.290           23.000          0.000          2.000
3        233.740           23.000          0.000          1.000
4        235.680           15.800          0.000          1.000
...          ...              ...            ...            ...
2075254   240.43              4.0            0.0            0.0
2075255    240.0              4.0            0.0            0.0
2075256   239.82              3.8            0.0            0.0
2075257    239.7              3.8            0.0            0.0
2075258   239.55              3.8            0.0            0.0

         Sub_metering_3
0                  17.0
1                  16.0
2                  17.0
3                  17.0
4                  17.0
...                 ...
2075254             0.0
2075255             0.0
2075256             0.0
2075257             0.0
2075258             0.0

[2075259 rows x 9 columns]>