In [4]:
#Data Cleaning and Preprocessing

In [9]:
import pandas as pd
import numpy as np

In [61]:
data=pd.read_csv(r"C:\Users\BVAYA\Desktop\energy-theft-prediction\data\raw\household_power_consumption.csv",sep=';')

C:\Users\BVAYA\AppData\Local\Temp\ipykernel_14084\339441229.py:1: DtypeWarning: Columns (2,3,4,5,6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  data=pd.read_csv(r"C:\Users\BVAYA\Desktop\energy-theft-prediction\data\raw\household_power_consumption.csv",sep=';')

In [62]:
(data=='?').sum()

Date                         0
Time                         0
Global_active_power      25979
Global_reactive_power    25979
Voltage                  25979
Global_intensity         25979
Sub_metering_1           25979
Sub_metering_2           25979
Sub_metering_3               0
dtype: int64

In [63]:
# Missing values were represented using '?' symbols & converted to NaN for proper numerical processing

In [64]:
data.replace('?',np.nan,inplace=True)

In [65]:
data.isna().sum()

Date                         0
Time                         0
Global_active_power      25979
Global_reactive_power    25979
Voltage                  25979
Global_intensity         25979
Sub_metering_1           25979
Sub_metering_2           25979
Sub_metering_3           25979
dtype: int64

In [66]:
#All power, voltage, and sub-metering columns were converted to float

In [67]:
numeric_cols=data.columns.drop(['Date','Time'])
data[numeric_cols]=data[numeric_cols].astype(float)

In [68]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075259 entries, 0 to 2075258
Data columns (total 9 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Date                   object
 1   Time                   object
 2   Global_active_power    float64
 3   Global_reactive_power  float64
 4   Voltage                float64
 5   Global_intensity       float64
 6   Sub_metering_1         float64
 7   Sub_metering_2         float64
 8   Sub_metering_3         float64
dtypes: float64(7), object(2)
memory usage: 142.5+ MB

In [69]:
data.dropna(inplace=True)

In [70]:
data.shape

(2049280, 9)

In [71]:
data['DateTime']=pd.to_datetime(data['Date']+' '+data['Time'],format='%d/%m/%Y %H:%M:%S')

In [72]:
data.drop(['Date','Time'],axis=1,inplace=True)

In [73]:
data.set_index('DateTime',inplace=True)

In [74]:
data.sort_index(inplace=True)

In [76]:
data.to_csv(r"C:\Users\BVAYA\Desktop\energy-theft-prediction\data\processed\energy_cleaned.csv")

In [77]:
data.isnull().sum()

Global_active_power      0
Global_reactive_power    0
Voltage                  0
Global_intensity         0
Sub_metering_1           0
Sub_metering_2           0
Sub_metering_3           0
dtype: int64

In [78]:
data.describe()

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
count,2.049280e+06,2.049280e+06,2.049280e+06,2.049280e+06,2.049280e+06,2.049280e+06,2.049280e+06
mean,1.091615e+00,1.237145e-01,2.408399e+02,4.627759e+00,1.121923e+00,1.298520e+00,6.458447e+00
std,1.057294e+00,1.127220e-01,3.239987e+00,4.444396e+00,6.153031e+00,5.822026e+00,8.437154e+00
min,7.600000e-02,0.000000e+00,2.232000e+02,2.000000e-01,0.000000e+00,0.000000e+00,0.000000e+00
25%,3.080000e-01,4.800000e-02,2.389900e+02,1.400000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,6.020000e-01,1.000000e-01,2.410100e+02,2.600000e+00,0.000000e+00,0.000000e+00,1.000000e+00
75%,1.528000e+00,1.940000e-01,2.428900e+02,6.400000e+00,0.000000e+00,1.000000e+00,1.700000e+01
max,1.112200e+01,1.390000e+00,2.541500e+02,4.840000e+01,8.800000e+01,8.000000e+01,3.100000e+01